@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

input,
button {
  /*border: none;*/
  background: none;
  outline: none;
}

.bg-image {
  background-image: url("https://cdn.cian.site/frontend/collections-assets/mainpage/flats-2023.jpg");
  background-size: cover;
  background-position: center top;
  width: 100%;
  height: 100%;
}

.logo {
  height: 67px;
  width: 110px;
  background-image: url("./logo.svg");
  background-size: 100%;
  background-position: 0 6px;
  background-repeat: no-repeat;
}

.text-custom-shadow {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.font-inter {
  font-family: "Inter";
}
